*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}
body{
  background-color: #B1BBF8;
}


#text-logo{
  font-size:20px ;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  vertical-align: middle;

}
#img-logo{
  vertical-align: middle;
  
}
.container{
  width: 600px;
  height: 700px;
  background-color:white;
  margin: auto;
  border-radius: 1%;
}

.bottoni{
  width: 80px;
  height:25px ;
  text-align: center;
  margin-top: 30px;
  margin-left: 40px;
  background-color: #5CB7F2;
  border-radius: 9px;
  color: black;
  
}
.bottoni2{
  width: 100px;
  height:25px ;
  text-align: center;
  margin-top: 30px;
  border-radius: 9px;
}
hr{
  height: 5px;
  margin-top: 10px;
  background-color: #B1BBF8;
}
h3:before{
  content:"\2BC6";
  
}
.New-Task{
  margin-left: 50px;
  margin-top:20px ;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
}

.editoriale{
  background-color: #5CB7F2;
  border-radius:10px;
  font-size:  10px;
  padding:  5px;
  color: white;
  height: 20px;
  display: inline-block 
}
.simbolo::before{
  content: "\2713";
  color:green ;
  border:2px solid green;
  border-radius: 50px;
  width:20px ;
  height:20px ;
  display: inline-block;
  font-size: 10px;
  text-align: center;
  line-height: 20px;
}
.News{
  margin-left: 50px;
  margin-top:20px ;
  font-size: 20px;

}

.lista {
  list-style: none;
}

.lista li {
  list-style: none;
}
.goal{
  background-color: rgb(94, 46, 94);
  border-radius:10px;
  font-size:  10px;
  padding:  5px;
  color: white;
  height: 20px;
  display: inline-block 
}
.Recruiting{
  background-color: green;
  border-radius:10px;
  font-size:  10px;
  padding:  5px;
  color: white;
  height: 20px;
  display: inline-block 
}
.mobile{
  background-color: #5CB7F2;
  border-radius:10px;
  font-size:  10px;
  padding:  7px;
  color: white;
  height: 20px;
  display: inline-block
  text-align : center;
}



 