*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}
body{
  background-color: #B1BBF8;
}
header{
  background-color: white;
}

/*serve a stilizzare il testo del logo toboolist*/
#text-logo{
  font-size:35px ;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  vertical-align: middle;
  background-color: white;
}

/* serve a centrare il logo*/
#img-logo{
  vertical-align: middle;
}
/*serve a dare forma al contenitore bianco*/
.container{
  width: 580px;
  height: 700px;
  background-color:white;
  margin: 20px auto;
  border-radius: 1%;
}

.bottoni{
  width: 80px;
  height:25px ;
  text-align: center;
  margin-top: 30px;
  margin-left: 40px;
  background-color: #5CB7F2;
  border-radius: 9px;
  color:white ;
  
  
}
.bottoni2{
  width: 100px;
  height:25px ;
  text-align: center;
  margin-top: 30px;
  border-radius: 9px;
  
}
hr{
  height: 5px;
  margin-top: 10px;
  background-color: #B1BBF8;
}

h3:before{
  content:"\2BC6";
}

h3{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-left: 40px;
}
.New-Task{
  margin-left: 50px;
  margin-top:20px ;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 40px;
}

.editoriale{
  background-color: #5CB7F2;
  border-radius:10px;
  font-size:  10px;
  padding:  5px;
  color: white;
  height: 20px;
  display: inline-block 
}
.simbolo::before{
  content: "\2713";
  color:green ;
  border:2px solid green;
  border-radius: 50px;
  width:20px ;
  height:20px ;
  display: inline-block;
  font-size: 10px;
  text-align: center;
  line-height: 20px;
}
.simbolo2::before{
  content: "\2717";
  color:red ;
  border:2px solid red;
  border-radius: 50px;
  width:20px ;
  height:20px ;
  display: inline-block;
  font-size: 10px;
  text-align: center;
  line-height: 20px;
}
/* serve a togliere i punti o i numeri di defult dalle 
liste*/

.lista {
  list-style: none;
}

.lista, li {
  list-style: none;
  margin-left: 40px;
  margin-top: 25px;
  margin-bottom: 20px;
}

/*serve a stilizare i le pillole*/
.goal{
  background-color: #9C72E4;
  border-radius:10px;
  font-size:  10px;
  padding:  5px;
  color: white;
  height: 20px;
  display: inline-block 
}
.Recruiting{
  background-color: #64C0A9;
  border-radius:10px;
  font-size:  10px;
  padding:  5px;
  color: white;
  height: 20px;
  display: inline-block 
}
.mobile{
  background-color: #F29E33;
  border-radius:10px;
  font-size:  10px;
  padding:  7px;
  color: white;
  height: 20px;
  display: inline-block
  text-align : center;
}

.Web{
  background-color: #D863A1;
  border-radius:10px;
  font-size:  10px;
  padding:  7px;
  color: white;
  height: 20px;
  display: inline-block
  text-align : center;
}

.sales{
  background-color: #B0C926;
  border-radius:10px;
  font-size:  10px;
  padding:  7px;
  color: white;
  height: 20px;
  display: inline-block
  text-align : center;
}





 